.btn {
    cursor: pointer;
    padding: 1.6rem 4.6rem;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: $shadow-secondary;
    min-width: 200px;

    &:hover {
        transform: scale(.95) translateY(2px);
    }
}

@media screen and (max-width: 350px) {
    .btn {
        font-size: 1.2rem;
        min-width: auto;
        width: 100%;
        
    }
}

.btn-primary {
    border: none;
    background: $color-primary;
    color: $color-white;
}
.btn-delete {
    border: none;
    background: $color-red-warning;
    color: $color-white;
}

.btn-secondary {
    border: 1px solid $color-primary;
    color: $color-primary;
    background: $color-bg-light;
}
.double-btns{
    @include flex(unset, unset, 20px);
    flex-wrap: wrap;
}

.centered {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.copyrights {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    font-size: 1rem;
    z-index: 9;

    a {
        color: $color-primary;
        font-weight: 600;
    }
}

.input-basic {
    border: none;
    background: #f7f7f7;
    box-shadow: $shadow-secondary;
    border-radius: 8px;
    padding: 1rem;
    outline: none;
    color: #777;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.transparent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000064;
    z-index: 99;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.modal{
    @include absolute-center;
    position: fixed;
    width: 95%;
    max-width: 500px;
    z-index: 100;
    max-height: 80vh;
    overflow-y: auto;

    .btn-area{
        text-align: end;
        button{
            border: none;
            background: none;
            cursor: pointer;
            img{
                width: 25px;
            }
        }
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mg-b-tiny {
    margin-bottom: 0.8rem;
}

.mg-b-small {
    margin-bottom: 1.6rem;
}

.mg-b-medium {
    margin-bottom: 4rem;
}

.mg-b-big {
    margin-bottom: 8rem;
}

.mg-b-huge {
    margin-bottom: 10rem;
}


.mg-t-tiny {
    margin-top: 0.8rem;
}

.mg-t-small {
    margin-top: 1.6rem;
}

.mg-t-medium {
    margin-top: 4rem;
}

.mg-t-big {
    margin-top: 8rem;
}

.mg-t-huge {
    margin-top: 10rem;
}