.navigation {
  background: #5a4c4c;
  width: 30vw;
  max-width: 350px;
  padding: 3.2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 12px 12px 0;
  color: #fff; }
  .navigation svg {
    fill: #fff;
    height: 50px;
    width: 35px;
    display: none;
    cursor: pointer; }
  .navigation .loggedUser {
    font-weight: 300;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.2); }
    .navigation .loggedUser img {
      width: 50px; }
    .navigation .loggedUser span {
      display: block; }
    .navigation .loggedUser .email {
      font-weight: 500; }
  .navigation__menu-item {
    color: #fff;
    transition: .6s;
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 2rem;
    display: block;
    cursor: pointer; }
    .navigation__menu-item:hover, .navigation__menu-item.active {
      font-weight: 600; }
    .navigation__menu-item.active span {
      position: relative; }
      .navigation__menu-item.active span::before {
        content: '.';
        font-size: 3rem;
        line-height: 2rem;
        position: absolute;
        left: -15px; }

@media screen and (max-width: 900px) {
  .navigation {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    display: none; }
    .navigation svg {
      display: block; }
    .navigation.open {
      display: block; } }

.card {
  background: #fff;
  border-radius: 12px;
  padding: 3.2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
  .card__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap: 20px; }
    .card__inner-item {
      display: flex;
      align-items: center;
      justify-content: unset;
      gap: 10px; }
      .card__inner-item .icon-area {
        background: #F5EBE0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        display: flex;
        padding: 20px; }
        .card__inner-item .icon-area img {
          width: 40px;
          height: 40px; }
      .card__inner-item span {
        display: block;
        font-weight: 600;
        font-size: 2.4rem; }

.card-small {
  padding: 1.6rem; }

@media screen and (max-width: 600px) {
  .card__inner-item .icon-area {
    padding: 20px; }
    .card__inner-item .icon-area img {
      width: 20px;
      height: 20px; } }

.survey {
  position: relative; }
  .survey [type='checkbox'] {
    display: none; }
  .survey__data {
    display: flex;
    align-items: center;
    justify-content: unset;
    gap: 5px;
    font-style: italic;
    font-size: 1.4rem; }
  .survey [type='checkbox'] ~ label {
    color: #DBA39A;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0; }
    .survey [type='checkbox'] ~ label:hover {
      font-weight: 500; }
    .survey [type='checkbox'] ~ label::after {
      content: '+';
      margin-left: 1.3rem;
      font-size: 3rem; }
  .survey [type='checkbox'] ~ .survey__questions {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    background: #f7f7f7; }
    .survey [type='checkbox'] ~ .survey__questions ol {
      padding: 1.6rem;
      margin-left: 1.6rem; }
      .survey [type='checkbox'] ~ .survey__questions ol li {
        list-style: auto;
        padding: 1rem; }
  .survey [type='checkbox']:checked ~ label::after {
    content: '-'; }
  .survey [type='checkbox']:checked ~ .survey__questions {
    max-height: 400px;
    overflow: auto;
    transition: max-height .8s ease-out; }
  .survey .icon-area {
    background: #F5EBE0;
    position: absolute;
    right: 3.6rem;
    border-radius: 50%;
    padding: 1rem 1.5rem; }
    .survey .icon-area img {
      width: 30px; }
    .survey .icon-area span {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.4rem; }
  .survey .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: unset;
    gap: 25px;
    flex-wrap: wrap; }
    .survey .btn-wrapper .btn-download {
      border: none;
      cursor: pointer;
      background: none; }
    .survey .btn-wrapper img {
      width: 30px; }

@media screen and (max-width: 600px) {
  .survey {
    position: relative; }
    .survey .icon-area {
      display: none; } }

.wrapper__json {
  max-width: 100%;
  background: #5a4c4c;
  color: #fff; }
  .wrapper__json-inner {
    overflow: auto;
    max-height: 400px; }

.current-user {
  position: fixed;
  z-index: 1;
  right: 3.2rem;
  top: 3.2rem; }
  .current-user svg {
    width: 35px;
    height: 50px;
    cursor: pointer;
    display: none; }
  .current-user img {
    width: 50px;
    cursor: pointer; }
  .current-user .drop-down-menu {
    position: absolute;
    left: -320px;
    top: 100%;
    width: 350px;
    text-align: center;
    font-size: 1.4rem; }
    .current-user .drop-down-menu button {
      cursor: pointer;
      padding: 1rem;
      font-size: 1.4rem; }

@media screen and (max-width: 900px) {
  .current-user {
    display: flex;
    align-items: center;
    justify-content: unset;
    gap: 10px; }
    .current-user svg {
      display: block; }
    .current-user .drop-down-menu {
      left: -250px; } }

.home {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%; }

.sign-in-form label, .sign-in-form input {
  display: block; }

.sign-in-form label {
  margin-bottom: 10px;
  font-weight: 500; }

.sign-in-form input {
  border: none;
  background: #f7f7f7;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem;
  outline: none;
  color: #777;
  letter-spacing: 1px;
  font-size: 1.4rem; }

.surveys {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%; }
  .surveys__filter {
    display: none; }
    .surveys__filter-container {
      display: flex;
      align-items: center;
      justify-content: unset;
      gap: 5px; }
  .surveys__filter ~ label {
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer; }
  .surveys__filter:checked ~ label {
    background: #DBA39A;
    color: #fff;
    font-weight: 500; }
  .surveys .modal p {
    font-size: 1.8rem; }
  .surveys .modal .deleteIcon {
    width: 60px; }

.newSurvey {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%; }
  .newSurvey__data {
    max-width: 550px; }
    .newSurvey__data input, .newSurvey__data textarea {
      display: block;
      width: 100%; }
    .newSurvey__data textarea {
      height: 150px; }
    .newSurvey__data label {
      display: block;
      font-weight: 500; }
  .newSurvey .modal span {
    font-weight: 700; }
  .newSurvey .modal img {
    width: 80px; }
  .newSurvey__questions {
    display: flex;
    align-items: unset;
    justify-content: space-between;
    gap: 30px; }
    .newSurvey__questions .questions-inner {
      height: 400px;
      overflow-y: auto;
      background: #d0cdcd;
      padding: 10px; }
      .newSurvey__questions .questions-inner-utils {
        display: flex;
        align-items: center;
        justify-content: unset;
        gap: 10px; }
        .newSurvey__questions .questions-inner-utils img {
          width: 15px; }
        .newSurvey__questions .questions-inner-utils svg {
          cursor: pointer; }
      .newSurvey__questions .questions-inner button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: #DBA39A;
        font-size: 1.6rem;
        height: 15px; }
    .newSurvey__questions-available, .newSurvey__questions-selected {
      width: 50%; }
      .newSurvey__questions-available .heading-secondary, .newSurvey__questions-selected .heading-secondary {
        font-size: 1.8rem;
        color: #DBA39A;
        text-align: center; }
      .newSurvey__questions-available .questions-container, .newSurvey__questions-selected .questions-container {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
        .newSurvey__questions-available .questions-container .questions-heading, .newSurvey__questions-selected .questions-container .questions-heading {
          padding: 1.6rem;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          flex-wrap: wrap; }
          .newSurvey__questions-available .questions-container .questions-heading div, .newSurvey__questions-selected .questions-container .questions-heading div {
            display: flex;
            align-items: center;
            justify-content: unset;
            gap: 20px;
            flex-wrap: wrap; }
          .newSurvey__questions-available .questions-container .questions-heading .icons, .newSurvey__questions-selected .questions-container .questions-heading .icons {
            display: flex;
            align-items: unset;
            justify-content: unset;
            gap: 10px;
            flex-wrap: wrap; }
            .newSurvey__questions-available .questions-container .questions-heading .icons button, .newSurvey__questions-selected .questions-container .questions-heading .icons button {
              cursor: pointer; }

@media screen and (max-width: 900px) {
  .newSurvey__questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column; }
    .newSurvey__questions-available, .newSurvey__questions-selected {
      width: 100%; } }

.users {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  position: unset; }
  .users__inner {
    overflow: auto; }
    .users__inner img {
      width: 100px; }
    .users__inner-table {
      min-width: 950px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      flex-direction: column;
      margin: 0 auto; }
      .users__inner-table .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%; }
        .users__inner-table .row .col {
          min-width: 15%; }
        .users__inner-table .row .col-sm {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0;
          width: 50px; }
          .users__inner-table .row .col-sm img {
            width: 25px; }
          .users__inner-table .row .col-sm .delete-icon {
            width: 20px;
            cursor: pointer; }
        .users__inner-table .row .col-bg {
          width: 320px; }
        .users__inner-table .row-header {
          font-weight: 700; }
  .users .addUser__inner {
    background-color: #DBA39A;
    color: #fff;
    display: inline;
    font-size: 4rem;
    border-radius: 50%;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
  .users .modal label, .users .modal input, .users .modal select {
    display: block; }

.questions {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%; }
  .questions .drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out; }
  .questions .drop-container:hover {
    background: #eee;
    border-color: #111; }
  .questions .drop-container:hover .drop-title {
    color: #222; }
  .questions .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out; }
  .questions .filename {
    color: #DBA39A;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out; }
  .questions .file-input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 0; }

.evaluations {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%; }
  .evaluations .heading-secondary {
    font-size: 2rem;
    color: #DBA39A; }
  .evaluations__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 3.2rem;
    overflow-x: auto; }
    .evaluations__filters .item label {
      display: block;
      margin-bottom: 4px;
      text-align: center;
      font-weight: 600; }
    .evaluations__filters .item select {
      min-width: 240px; }
    .evaluations__filters-wrapper {
      border-bottom: 2px solid rgba(214, 214, 214, 0.384); }
  .evaluations__stats {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    justify-content: space-around; }
    .evaluations__stats .card {
      background-color: #FEFCF3;
      min-width: 120px; }
      .evaluations__stats .card .value {
        font-weight: 600;
        font-size: 2.4rem; }

.about {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%; }
  .about .logo {
    width: 70px; }
  .about a {
    color: #DBA39A;
    font-weight: 600; }

.notFound {
  position: relative;
  min-height: 100vh;
  background: #FEFCF3;
  padding: 3.2rem;
  max-width: 1400px;
  margin: 0 auto;
  max-width: none;
  width: 100%;
  position: relative;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .notFound__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6.4rem; }
  .notFound .heading-primary {
    font-size: 12rem;
    line-height: 12rem; }
  .notFound p {
    font-size: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #FEFCF3; }

a {
  text-decoration: none; }

li {
  list-style: none; }

textarea {
  resize: none; }

.app__inner {
  width: 100%;
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 5px;
  position: relative; }
  .app__inner-content {
    min-width: 70vw;
    margin: 0 auto; }

@media screen and (max-width: 700px) {
  .app__inner .heading-primary:first-of-type {
    margin-top: 50px; }
  .app__inner-content {
    width: 100%; } }

@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #3b3b3b; }

.heading-primary {
  font-size: 3.2rem;
  font-weight: 500; }

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 600; }

.bold {
  font-weight: 700; }

@media screen and (max-width: 500px) {
  html {
    font-size: 50%; } }

.btn {
  cursor: pointer;
  padding: 1.6rem 4.6rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  min-width: 200px; }
  .btn:hover {
    transform: scale(0.95) translateY(2px); }

@media screen and (max-width: 350px) {
  .btn {
    font-size: 1.2rem;
    min-width: auto;
    width: 100%; } }

.btn-primary {
  border: none;
  background: #DBA39A;
  color: #fff; }

.btn-delete {
  border: none;
  background: #d9534f;
  color: #fff; }

.btn-secondary {
  border: 1px solid #DBA39A;
  color: #DBA39A;
  background: #FEFCF3; }

.double-btns {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 20px;
  flex-wrap: wrap; }

.centered {
  text-align: center; }

.w-100 {
  width: 100%; }

.copyrights {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  font-size: 1rem;
  z-index: 9; }
  .copyrights a {
    color: #DBA39A;
    font-weight: 600; }

.input-basic {
  border: none;
  background: #f7f7f7;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem;
  outline: none;
  color: #777;
  letter-spacing: 1px;
  font-size: 1.4rem; }

.transparent {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000064;
  z-index: 99;
  filter: blur(8px);
  -webkit-filter: blur(8px); }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 95%;
  max-width: 500px;
  z-index: 100;
  max-height: 80vh;
  overflow-y: auto; }
  .modal .btn-area {
    text-align: end; }
    .modal .btn-area button {
      border: none;
      background: none;
      cursor: pointer; }
      .modal .btn-area button img {
        width: 25px; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mg-b-tiny {
  margin-bottom: 0.8rem; }

.mg-b-small {
  margin-bottom: 1.6rem; }

.mg-b-medium {
  margin-bottom: 4rem; }

.mg-b-big {
  margin-bottom: 8rem; }

.mg-b-huge {
  margin-bottom: 10rem; }

.mg-t-tiny {
  margin-top: 0.8rem; }

.mg-t-small {
  margin-top: 1.6rem; }

.mg-t-medium {
  margin-top: 4rem; }

.mg-t-big {
  margin-top: 8rem; }

.mg-t-huge {
  margin-top: 10rem; }
