.evaluations {
    @include outer-container;
    width: 100%;

    .heading-secondary {
        font-size: 2rem;
        color: $color-primary;
    }

    &__filters {
        @include flex(space-between, center, 10px);
        padding-bottom: 3.2rem;
        overflow-x: auto;

        .item {
            label {
                display: block;
                margin-bottom: 4px;
                text-align: center;
                font-weight: 600;
            }

            select {
                min-width: 240px;
            }
        }
        &-wrapper{
            // background: red;
            border-bottom: 2px solid rgba(214, 214, 214, 0.384);
        }

    }


    &__stats {
        // @include flex(space-around, center, 10px);
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
        justify-content: space-around;
        .card {
            background-color: $color-bg-light;
            min-width: 120px;

            // font-size: 2rem;
            .value {
                font-weight: 600;
                font-size: 2.4rem;
            }
        }
    }
}