.newSurvey{
    @include outer-container;
    width: 100%;
    &__data{
        max-width: 550px;
        input, textarea{
            display: block;
            width: 100%;
        }
        textarea{
            height: 150px;
        }
        label{
            display: block;
            font-weight: 500
        }
    }

    &__questions{
        @include flex(space-between, unset, 30px);
        
        .questions-inner{
            height: 400px;
            overflow-y: auto;
            background: rgb(208, 205, 205);
            padding: 10px;
        }
        
        &-available, &-selected{
            width: 50%;
            .heading-secondary{
                font-size: 1.8rem;
                color: $color-primary;
                text-align: center;
            }
            
            .questions-container{
                box-shadow: $shadow-primary;
                
                .questions-heading{
                    height: 70px;
                    padding:  1.6rem;
                    background: $color-white;
                    @include flex(space-between, center);

                    .icons{
                        @include flex(unset,unset, 10px);
                        button{
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}