.newSurvey{
    @include outer-container;
    width: 100%;
    &__data{
        max-width: 550px;
        input, textarea{
            display: block;
            width: 100%;
        }
        textarea{
            height: 150px;
        }
        label{
            display: block;
            font-weight: 500
        }
    }

    .modal{
        span{
            font-weight: 700
        }
        img{
            width: 80px;
        }
    }

    &__questions{
        @include flex(space-between, unset, 30px);
        
        .questions-inner{
            height: 400px;
            overflow-y: auto;
            background: rgb(208, 205, 205);
            padding: 10px;

            &-utils{
                @include flex(unset, center, 10px);
                img{
                    width: 20px;
                }

            }


            button{
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
                color: $color-primary;
                font-size: 1.6rem;
            }
        }
        
        &-available, &-selected{
            width: 50%;
            .heading-secondary{
                font-size: 1.8rem;
                color: $color-primary;
                text-align: center;
            }
            
            .questions-container{
                box-shadow: $shadow-primary;
                
                .questions-heading{
                    padding:  1.6rem;
                    background: $color-white;
                    @include flex(space-between, center, 5px);
                    flex-wrap: wrap;

                    div{
                        @include flex(unset, center, 20px);
                        flex-wrap: wrap
                    }

                    .icons{
                        @include flex(unset,unset, 10px);
                        flex-wrap: wrap;
                        button{
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 900px) {
    .newSurvey{
        
    
        &__questions{
            @include flex(space-between, center, 30px);
            flex-direction: column;
            
            
            &-available, &-selected{
                width: 100%;
            }
    
        }
    }
}