.navigation {
    background: $color-gray-menu;
    // background: $color-tertiary;
    width: 30vw;
    max-width: 350px;
    padding: $padding-default;
    box-shadow: $shadow-primary;
    border-radius: 0 12px 12px 0;
    // box-shadow: 10px 0 5px -2px #888;
    color: $color-white;

    svg {
        fill: #fff;
        height: 50px;
        width: 35px;
        display: none;
        cursor: pointer;
    }

    .loggedUser {
        img {
            width: 50px;
        }

        span {
            display: block;
        }

        .email {
            font-weight: 500;
        }

        font-weight: 300;
        font-size: 1.4rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba($color-gray-light, .2);
    }

    &__menu-item {
        color: $color-white;
        transition: .6s;
        margin-bottom: 3rem;
        font-weight: 300;
        font-size: 2rem;
        display: block;
        cursor: pointer;

        &:hover,
        &.active {
            font-weight: 600;
        }

        &.active span {
            position: relative;

            &::before {
                content: '.';
                font-size: 3rem;
                line-height: 2rem;
                position: absolute;
                left: -15px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .navigation {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        z-index: 30;
        display: none;

        svg {
            display: block;
        }

        &.open {
            display: block;
        }
    }


}