.survey {
    position: relative;
    [type='checkbox'] {
        display: none;
    }


    [type='checkbox'] {
        &~label {
            color: $color-primary;
            cursor: pointer;
            @include flex(left, center, 0);

            &:hover {
                font-weight: 500;
            }

            &::after {
                content: '+';
                margin-left: 1.3rem;
                font-size: 3rem;
            }
        }

        &~.survey__questions {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease-out;
            background: $color-gray-light-1;

            ol {
                padding: 1.6rem;
                margin-left: 1.6rem;
                li{
                    list-style:auto;
                    padding: 1rem;
                }

            }
        }
    }

    [type='checkbox']:checked {
        &~label {
            &::after {
                content: '-';
            }
        }

        &~.survey__questions {
            max-height: 400px;
            overflow: auto;
            transition: max-height .8s ease-out;            
        }
    }
    .icon-area{
        background: $color-tertiary;
        position: absolute;
        right: 3.6rem;
        border-radius: 50%;
        padding: 1rem 1.5rem;
        img{
            width: 30px;
        }
        span{
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            text-transform: capitalize;
            // color: $color-secondary;
            font-weight: 600;
            font-size: 1.4rem;
        }
    }
    .btn-wrapper{
        @include flex(unset,center, 25px);

        .btn-download{
            border: none;
            cursor: pointer;
            background: none;
        }
        img{
            width: 30px;
        }
    }




}